.width40
	width 40%
.inline
	display inline
	margin-right 5px
.heart-container
	position relative
	display inline
.glyphicon-heart-empty, .glyphicon-heart
	position absolute
	top 0
	left 1
.glyphicon-heart-empty
	z-index 10
.glyphicon-heart
	display none
